body{
	background: #e2e2e2!important;
}

.bg-primary{
	background: #3c3c3c!important;
	
}

.banner{
	width:100%;
	height:93vh;
	background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url(https://wallpaperaccess.com/full/2581489.png);
	background-size:cover;
	color:white;
	
}

.my-card{
	padding: 20px;
	background: #FFFFFF;
}

.padd{
	padding: 20px;
}


.loginpadd{
	padding:50px;
}


/*sidebar*/

.sidebar{
	width:18%;
	background: white;
	height:100%;
	position:fixed;
	padding-top:45px; 
}

.sidebar a {
	display:block;
	width :100%;
	padding: 10px 25px;
	text-decoration:none;
	color:grey;
	
}


.sidebar a:hover{
	background:#BAB7B7;
	
}

.content{
	margin-left:20%;
}

.my_profie_pic{
	width:30px;
	height:30px;
	object-fit:cover;
	border-radius:50%;
}





